.env
myenv/Lib/site-packages
myenv/
venv
__pycache__/HandTrackingModule.cpython-310.pyc
__pycache__/HandTrackingModule.cpython-310.pyc
__pycache__/VirtualPainterMobile.cpython-310.pyc
__pycache__/HandTrackingModule.cpython-310.pyc
__pycache__/HandTrackingModule.cpython-310.pyc
__pycache__/HandTrackingModule.cpython-310.pyc
